BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
ObjCBlockIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
IndentWidth: 4
SpacesInContainerLiterals: false
TabWidth: 4
UseTab: Never
AlignTrailingComments: false
MaxEmptyLinesToKeep: 1
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
ColumnLimit: 0