<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wechat_key</key>
	<string></string>
	<key>environment</key>
	<string>demo</string>
	<key>api_key</key>
	<string></string>
	<key>client_id</key>
	<string></string>
	<key>return_url</key>
	<string>airwallexcheckout://com.airwallex.paymentacceptance</string>
</dict>
</plist>
