name: Repo Dispatch on iOS Release

on:
  release:
    types: [published, edited, created]

jobs:
  repo-dispatch-on-release:
    runs-on: ubuntu-latest
    # Only trigger for non-prerelease versions
    if: ${{ !github.event.release.prerelease }}
    steps:
      - name: Send repository dispatch to Flutter SDK
        env:
          GH_TOKEN: ${{ secrets.SERVICE_ACCOUNT_PAT }}
        run: |
          gh api repos/airwallex/airwallex-payment-flutter/dispatches \
            --method POST \
            --field event_type='ios_release' \
            --raw-field client_payload='{"tag":"${{ github.event.release.tag_name }}","action":"${{ github.event.action }}"}'

      - name: Send repository dispatch to React Native SDK
        env:
          GH_TOKEN: ${{ secrets.SERVICE_ACCOUNT_PAT }}
        run: |
          gh api repos/airwallex/airwallex-payment-react-native/dispatches \
            --method POST \
            --field event_type='ios_release' \
            --raw-field client_payload='{"tag":"${{ github.event.release.tag_name }}","action":"${{ github.event.action }}"}'
